@import '../../../../components/src/_theme/colors';
@import '../../styles/_theme/variables';

:host {
  .bottom-border {
    border-bottom: solid 1px $secondary-grey-100;
  }

  .card-content {
    @media screen and (min-width: $screen-width-sm) {
      display: flex;
    }

    @media screen and (max-width: $screen-width-sm) {
      .action-container {
        margin-top: 1rem;
      }
    }
  }
}
