@if (isLoading) {
  <div class="col-md-8 m-auto pt-3 d-flex align-content-center">
    <div class="d-flex m-auto">
      <mat-spinner diameter="28"></mat-spinner>
    </div>
  </div>
} @else {
  <div class="d-block col-md-8 m-auto pt-3">
    <lib-card class="d-flex flex-column p-3 mt-5">
      <app-card-header
        class="pb-3 bottom-border"
        [title]="'Expected profit scenario'"
        [chipConfig]="chipConfig"></app-card-header>
      <div class="pt-3">
        <h1>{{ profit || '' | shortAmountOfMoney }}</h1>
      </div>
    </lib-card>

    <lib-card class="d-flex flex-column p-3 mt-5">
      <app-card-header
        class="pb-3 bottom-border"
        [title]="'Income scenario'"
        [chipConfig]="chipConfig"></app-card-header>
      <div class="pt-3 card-content">
        <div>
          <h2>{{ metadata?.income || '' | shortAmountOfMoney }}</h2>
        </div>

        <div
          class="action-container d-flex ml-auto align-content-center flex-wrap justify-content-end">
          <lib-button type="secondary" (click)="onViewIncome()">{{ incomeButtonName }}</lib-button>
        </div>
      </div>
    </lib-card>

    <lib-card class="d-flex flex-column p-3 mt-5">
      <app-card-header
        class="pb-3 bottom-border"
        [title]="'Cost of living scenario'"
        [chipConfig]="chipConfig"></app-card-header>
      <div class="pt-3 card-content">
        <div>
          <h2>{{ metadata?.costOfLiving || '' | shortAmountOfMoney }}</h2>
        </div>

        <div
          class="action-container d-flex ml-auto align-content-center flex-wrap justify-content-end">
          <lib-button type="secondary" (click)="onViewLivingCost()">{{
            livingCostButtonName
          }}</lib-button>
        </div>
      </div>
    </lib-card>
  </div>
}
