<ng-template #actionBar>
  @if (livingCosts?.length) {
    <lib-button type="secondary" [isDisabled]="isEditing" (click)="onAddLivingCost()">
      {{ 'BUTTON_ADD_COST_OF_LIVING_SCENARIO' | translate }}
    </lib-button>
  }
</ng-template>

@if (isLoading) {
  <div class="col-md-8 m-auto pt-3 d-flex align-content-center">
    <div class="d-flex m-auto">
      <mat-spinner diameter="28"></mat-spinner>
    </div>
  </div>
} @else {
  <div class="d-block col-md-8 m-auto pt-3">
    @if (!livingCosts?.length) {
      <lib-card class="d-flex flex-column p-3 mt-5">
        <app-card-header
          class="pb-3 bottom-border"
          [title]="'CARD_HEADER_TITLE_COST_OF_LIVING' | translate"></app-card-header>
        <div class="pt-3 card-content">
          <div
            class="action-container d-flex ml-auto align-content-center flex-wrap justify-content-end">
            <lib-button type="secondary" [isDisabled]="isEditing" (click)="onAddLivingCost()">{{
              'BUTTON_ADD_COST_OF_LIVING_SCENARIO' | translate
            }}</lib-button>
          </div>
        </div>
      </lib-card>
    } @else {
      @for (livingCost of livingCosts; track livingCost.id) {
        <lib-card class="d-flex flex-column p-3 mt-5" (click)="onUpdateLivingCost(livingCost)">
          <app-card-header
            class="pb-3 bottom-border"
            [title]="'CARD_HEADER_TITLE_COST_OF_LIVING' | translate"
            [chipConfig]="getChipConfig(livingCost)">
            @if (getActionVisibility(livingCost)) {
              <ng-container ngProjectAs="[action-bar]">
                <lib-button
                  type="tertiary"
                  [isDisabled]="isEditing"
                  (click)="onBaselineLivingCostChange(livingCost)">
                  <mat-icon>favorite_outline</mat-icon>
                </lib-button>
                <lib-button type="tertiary" [isDisabled]="isEditing" (click)="onDelete(livingCost)">
                  <mat-icon>delete_outline</mat-icon>
                </lib-button>
              </ng-container>
            }
            <div>
              <h2>{{ livingCost?.total || '' | shortAmountOfMoney }}</h2>
            </div>
          </app-card-header>
          <div class="container pt-3">
            <div class="row">
              <div class="col-6">
                <div class="d-flex">
                  <mat-icon>house</mat-icon>
                  @if (livingCost.mortgage) {
                    <lib-text class="pl-2">
                      {{ 'MORTGAGE' | translate }}
                      {{ livingCost.mortgage || '' | shortAmountOfMoney }}
                    </lib-text>
                  }
                </div>
                <div class="d-flex">
                  <mat-icon>key</mat-icon>
                  @if (livingCost.rent) {
                    <lib-text class="pl-2">
                      {{ 'RENT' | translate }} {{ livingCost.rent || '' | shortAmountOfMoney }}
                    </lib-text>
                  }
                </div>
                <div class="d-flex">
                  <mat-icon>money</mat-icon>
                  @if (livingCost.loans) {
                    <lib-text class="pl-2">
                      {{ 'LOANS' | translate }} {{ livingCost.loans || '' | shortAmountOfMoney }}
                    </lib-text>
                  }
                </div>
                <div class="d-flex">
                  <mat-icon>document_scanner</mat-icon>
                  @if (livingCost.utilities) {
                    <lib-text class="pl-2">
                      {{ 'UTILITIES' | translate }}
                      {{ livingCost.utilities || '' | shortAmountOfMoney }}
                    </lib-text>
                  }
                </div>
              </div>
              <div>
                <div class="d-flex">
                  <mat-icon>cast_for_education</mat-icon>
                  @if (livingCost.education) {
                    <lib-text class="pl-2">
                      {{ 'EDUCATION' | translate }}
                      {{ livingCost.education || '' | shortAmountOfMoney }}
                    </lib-text>
                  }
                </div>
                <div class="d-flex">
                  <mat-icon>shopping_cart</mat-icon>
                  @if (livingCost.markets) {
                    <lib-text class="pl-2">
                      {{ 'MARKETS' | translate }}
                      {{ livingCost.markets || '' | shortAmountOfMoney }}
                    </lib-text>
                  }
                </div>
                <div class="d-flex">
                  <mat-icon>emoji_transportation</mat-icon>
                  @if (livingCost.transportation) {
                    <lib-text class="pl-2">
                      {{ 'TRANSPORTATION' | translate }}
                      {{ livingCost.transportation || '' | shortAmountOfMoney }}
                    </lib-text>
                  }
                </div>
                <div class="d-flex">
                  <mat-icon>topic</mat-icon>
                  @if (livingCost.other) {
                    <lib-text class="pl-2">
                      {{ 'OTHER' | translate }} {{ livingCost.other || '' | shortAmountOfMoney }}
                    </lib-text>
                  }
                </div>
              </div>
            </div>
          </div>
        </lib-card>
      }
    }
  </div>
}

<ng-template #drawer>
  <app-living-cost-detail
    [livingCostModel]="livingCost"
    (cancel)="onCancel()"
    (livingCostDetailChange)="onLivingCostDetailChange($event)"></app-living-cost-detail>
</ng-template>
