<ng-template #actionBar>
  <lib-button type="secondary" [isDisabled]="isEditing" (click)="onAddIncome()">
    Add Income scenario
  </lib-button>
</ng-template>

@if (isLoading) {
  <div class="col-md-8 m-auto pt-3 d-flex align-content-center">
    <div class="d-flex m-auto">
      <mat-spinner diameter="28"></mat-spinner>
    </div>
  </div>
} @else {
  <div class="d-block col-md-8 m-auto pt-3">
    @for (income of incomes; track income.id) {
      <lib-card class="d-flex flex-column p-3 mt-5">
        <app-card-header
          class="pb-3 bottom-border"
          [title]="'Income scenario'"
          [chipConfig]="getChipConfig(income)">
          @if (getActionVisibility(income)) {
            <ng-container ngProjectAs="[action-bar]">
              <lib-button
                type="tertiary"
                [isDisabled]="isEditing"
                (click)="onBaselineIncomeChange(income)">
                <mat-icon>favorite_outline</mat-icon>
              </lib-button>
              <lib-button type="tertiary" [isDisabled]="isEditing" (click)="onDelete(income)">
                <mat-icon>delete_outline</mat-icon>
              </lib-button>
            </ng-container>
          }
          <div>
            <h2>{{ income?.total || '' | shortAmountOfMoney }}</h2>
          </div>
        </app-card-header>
        <div class="pt-3"> content </div>
      </lib-card>
    }
  </div>
}

<ng-template #drawer>
  <app-income-detail
    (cancel)="onCancel()"
    (incomeDetailChange)="onIncomeDetailChange($event)"></app-income-detail>
</ng-template>
