<ng-template #actionBar>
  <lib-button type="secondary" [isDisabled]="isEditing" (click)="onAddIncome()">
    Add Income scenario
  </lib-button>
</ng-template>

@if (isLoading) {
  <div class="col-md-8 m-auto pt-3 d-flex align-content-center">
    <div class="d-flex m-auto">
      <mat-spinner diameter="28"></mat-spinner>
    </div>
  </div>
} @else {
  <div class="d-block col-md-8 m-auto pt-3">
    @for (income of incomes; track income.id) {
      <lib-card class="d-flex flex-column p-3 mt-5" (click)="onUpdateIncome(income)">
        <app-card-header
          class="pb-3 bottom-border"
          [title]="'Income scenario'"
          [chipConfig]="getChipConfig(income)">
          @if (getActionVisibility(income)) {
            <ng-container ngProjectAs="[action-bar]">
              <lib-button
                type="tertiary"
                [isDisabled]="isEditing"
                (click)="onBaselineIncomeChange(income)">
                <mat-icon>favorite_outline</mat-icon>
              </lib-button>
              <lib-button type="tertiary" [isDisabled]="isEditing" (click)="onDelete(income)">
                <mat-icon>delete_outline</mat-icon>
              </lib-button>
            </ng-container>
          }
          <div>
            <h2>{{ income?.total || '' | shortAmountOfMoney }}</h2>
          </div>
        </app-card-header>
        <div class="container pt-3">
          <div class="row">
            <div class="col-6">
              <div class="d-flex">
                <mat-icon>credit_card</mat-icon>
                @if (income.salary) {
                  <lib-text class="pl-2">
                    salary {{ income.salary || '' | shortAmountOfMoney }}
                  </lib-text>
                }
              </div>
              <div class="d-flex">
                <mat-icon>payments</mat-icon>
                @if (income.pension) {
                  <lib-text class="pl-2">
                    pension {{ income.pension || '' | shortAmountOfMoney }}
                  </lib-text>
                }
              </div>
              <div class="d-flex">
                <mat-icon>account_balance</mat-icon>
                @if (income.deposit) {
                  <lib-text class="pl-2">
                    deposit {{ income.deposit || '' | shortAmountOfMoney }}
                  </lib-text>
                }
              </div>
              <div class="d-flex">
                <mat-icon>topic</mat-icon>
                @if (income.other) {
                  <lib-text class="pl-2">
                    other {{ income.other || '' | shortAmountOfMoney }}
                  </lib-text>
                }
              </div>
            </div>
            @if (income.hasSpouse) {
              <div>
                <div class="d-flex">
                  <mat-icon>credit_card</mat-icon>
                  @if (income.salarySpouse) {
                    <lib-text class="pl-2">
                      salary {{ income.salarySpouse || '' | shortAmountOfMoney }}
                    </lib-text>
                  }
                </div>
                <div class="d-flex">
                  <mat-icon>payments</mat-icon>
                  @if (income.pensionSpouse) {
                    <lib-text class="pl-2">
                      pension {{ income.pensionSpouse || '' | shortAmountOfMoney }}
                    </lib-text>
                  }
                </div>
                <div class="d-flex">
                  <mat-icon>account_balance</mat-icon>
                  @if (income.depositSpouse) {
                    <lib-text class="pl-2">
                      deposit {{ income.depositSpouse || '' | shortAmountOfMoney }}
                    </lib-text>
                  }
                </div>
                <div class="d-flex">
                  <mat-icon>topic</mat-icon>
                  @if (income.otherSpouse) {
                    <lib-text class="pl-2">
                      other {{ income.otherSpouse || '' | shortAmountOfMoney }}
                    </lib-text>
                  }
                </div>
              </div>
            }
          </div>
        </div>
      </lib-card>
    }
  </div>
}

<ng-template #drawer>
  <app-income-detail
    [incomeModel]="income"
    (cancel)="onCancel()"
    (incomeDetailChange)="onIncomeDetailChange($event)"></app-income-detail>
</ng-template>
