$grid-max-width: 1200px;
$grid-gutter-width: 1rem;
$grid-gutter-width-half: 0.5rem;

$header-height: 3.5rem;

$screen-width-xs: 576px;
$screen-width-sm: 768px;
$screen-width-md: 992px;
$screen-width-lg: 1200px;
