@import 'font-mixins';
@import '../_theme/colors';

:host {
  &.bold {
    font-weight: 600;
  }

  &.block {
    display: block;
  }

  &.grey {
    color: $secondary-grey-700;
  }

  &.large {
    @include set-font-size(1.125rem)
  }

  &.lightgrey {
    color: $secondary-grey-400;
  }
}
