@import '../../_theme/variables';

:host {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
  height: $header-height;
  background: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);

  .right-container {
    display: flex;
    align-items: center;
    height: 100%;
  }
}
